node_modules
backend/config/firebase-service-account.json
backend/config/.env
.qodo
backend/config/firebase.jsbackend/config/firebase-service-account.json
backend/config/firebase-service-account.json
backend/config/firebase-service-account.json
