.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full height */
}

.content {
  flex: 1; /* Pushes footer to the bottom */
}

footer {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px 0;
}
